@font-face {
    font-family: uomsaLogoFont;
    src: url(../font/uomsaLogo.ttf);
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xF1YPouZEKgzpqZW9wN-3Ek.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xONSK5BxN3NFS4EJkViHIqo.woff) format('woff');
}

.home-title {
    font-family: uomsaLogoFont;
}

.label-app-section .title-app-section {
    /*height: 50px;*/
    font-size: 21px;
    font-weight: 100;
    /*line-height: 50px;*/
    padding-left: 10px;
    margin-top: 10px;
}

.events .label .title {
    float: left;
    height: 50px;
    font-size: 21px;
    font-weight: 100;
    line-height: 50px;
    padding-left: 10px;
}

.event-list-wrap {
    position: relative;
    height: 309px;
    width: 100%;
    overflow: hidden;
}

.event-list {
    height: 295px;
    /*background: #E8EAEF;*/
    background-image: url('../pics/whitey.png');
    background-repeat:repeat;
}

.event-list .event-item {
    position: relative;
    float: left;
    margin: 2px 0 2px 12px;
    height: 294px;
    width: 187px;
    overflow: hidden;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center 0;
    -webkit-box-shadow: -1px -1px 1px rgba(0,0,0,.1),1px 1px 1px rgba(0,0,0,.1);
    box-shadow: -1px -1px 1px rgba(0,0,0,.1),1px 1px 1px rgba(0,0,0,.1);
}

.event-list .event-item img {
    display: block;
    height: 255px;
    width: 100%;
    overflow: hidden;
}

.event-list .event-item .text {
    position: absolute;
    top: 0;
    left: 0;
    height: 295px;
    width: 187px;
    overflow: hidden;
}

.event-list .event-item .text span {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}

.event-list .event-item .text span {
    display: block;
    margin: 260px auto 0;
    height: 32px;
    width: 170px;
    color: #777;
    font-size: 14px;
    line-height: 32px;
}

.no-bullets
{
    list-style-type: none;
}

.event-item-details {
    position: relative;
    margin: 10px 0 2px 12px;
    height: 294px;
    width: 187px;
    overflow: hidden;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center 0;
    -webkit-box-shadow: -1px -1px 1px rgba(0,0,0,.1),1px 1px 1px rgba(0,0,0,.1);
    box-shadow: -1px -1px 1px rgba(0,0,0,.1),1px 1px 1px rgba(0,0,0,.1);
}

.event-item-details img {
    display: block;
    height: 255px;
    width: 100%;
    overflow: hidden;
}

.event-item-details .text {
    position: absolute;
    top: 0;
    left: 0;
    height: 295px;
    width: 187px;
    overflow: hidden;
}

.event-item-details .text span {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}

.event-item-details .text span {
    display: block;
    margin: 260px auto 0;
    height: 32px;
    width: 170px;
    color: #777;
    font-size: 14px;
    line-height: 32px;
}

/* The CSS */
select {
    margin:10px;
    padding:7px;
    width:inherit;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 2px 0 #888, 0 -1px #bbb inset;
    -moz-box-shadow: 0 2px 0 #888, 0 -1px #bbb inset;
    box-shadow: 0 2px 0 #888, 0 -1px #bbb inset;
    background-color:#345;
    color:#FFF;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}
